/* CSS */
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 4rem;
  font-weight: normal;
  margin: 0;
  color: white;
}

.overlay p {
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-icons a {
  margin: 0 0.5rem;
  color: white;
  font-size: 2rem;
}

